<div id = "myCarousel" class = "carousel slide">
  <!-- Indicators -->
  <ol class = "carousel-indicators">
    <li data-target = "#myCarousel" data-slide-to = "0" class = "active"></li>
    <li data-target = "#myCarousel" data-slide-to = "1"></li>
    <li data-target = "#myCarousel" data-slide-to = "2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class = "carousel-inner">

    <div class = "item active">
      <%= image_tag "beach_pier.jpg", class: "img-responsive", alt: "Beach Pier" %>
      <div class = "carousel-caption">
        <h2>Paradise</h2>
        <p>Don't you wish you were here right now?</p>
      </div>
    </div>

    <div class = "item">
      <%= image_tag "landscape.jpg", class: "img-responsive", alt: "Landscape" %>
    </div>

    <div class = "item">
      <%= image_tag "mountains.jpg", class: "img-responsive", alt: "Mountains" %>
    </div>
   </div>
  </div>  <!-- end carousel inner -->

  <!-- Controls -->
  <!-- if you want darkening on left/right side, put class="right carousel-control" -->
  <a class="carousel-control left" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="carousel-control right" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

<div class="search-area">
  <form class="col-sm-12" id="searchForm">
    <div class="form-group col-sm-4 col-sm-offset-4">
      <div class="input-group input-group-lg center-block">
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
      </div>
    </div>
  </form>
</div>

</div> <!-- end carousel -->

<div class = "container">
<h1>h1</h1>
<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
</div>



